plot_figs/fig01/.ipynb_checkpoints/
plot_figs/fig02/.ipynb_checkpoints/
plot_figs/fig03/.ipynb_checkpoints/
plot_figs/fig04/.ipynb_checkpoints/
plot_figs/fig05/.ipynb_checkpoints/
plot_figs/fig06_07_08/.ipynb_checkpoints/
plot_figs/fig09/.ipynb_checkpoints/
plot_figs/fig10/.ipynb_checkpoints/
plot_figs/fig11/.ipynb_checkpoints/
plot_figs/fig12/.ipynb_checkpoints/
plot_figs/fig13/.ipynb_checkpoints/
plot_figs/fig14/.ipynb_checkpoints/
data_reproduce_figs/OC25M-Ad2beam_beam1-1day.nc
data_reproduce_figs/OC40S-T.nc
